*{
    border: 1px solid red;
}

#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

#imgWindow{
    display: flex;
    position: relative;
    height: 400px;
    width: 400px;
}

#imgSlider{
    position: absolute;
    left: -100%;
    /* top: 50%; */
    height: 400px;
    width: 1200px;
}

img{
    position: absolute;
    height: 400px;
    width: 400px;
    transition: transform 500ms ease-in-out;
}

img:hover{
    transform: translate(400px);
}

#imgControl{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 600px;
}